@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Play', sans-serif;
  text-align: center;
  color: white;
  position: relative;
  overflow: hidden;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 110%;  /* Ensanchar un poco */
  height: 100%; /* Agrandar un poco */
  transform: scale(1.1); /* Evita que el blur cause el efecto blanco en los bordes */
  animation: blurEffect 3s ease-in-out 2s forwards;
  z-index: -1;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 68px !important; /* Reduce el tamaño del título en móviles */
  }

  .subtitle {
    font-size: 18px; /* Reduce el tamaño del subtítulo */
  }

  .container {
    padding: 20px; /* Reduce el padding para que no se vea demasiado grande */
    width: 90%; /* Ajusta el ancho para que no se vea tan comprimido */
  }
}




@keyframes blurEffect {
  0% {
    filter: blur(0px); /* Sin desenfoque al inicio */
  }
  100% {
    filter: blur(8px); /* Desenfoque máximo después de 3s */
  }
}

.container {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px 40px; /* Reducido de 40px a 20px arriba y abajo */
  border-radius: 10px;
  z-index: 1;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}

h1 {
  font-size: 100px;
  font-weight: 700;
  margin-bottom: 10px; /* Reduce espacio entre el título y el subtítulo */
}

.subtitle {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 10px; /* Reduce espacio con la descripción */
}

.description {
  font-size: 22px;
  margin-bottom: 20px; /* Reduce espacio antes del botón */
}

.join-button {
  background-color: #10F2A3;
  border: none;
  padding: 12px 25px; /* Reduce padding del botón */
  font-size: 16px;
  font-weight: 600;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.join-button:hover {
  background-color: #10ac84;
}


